
<form>
  <h1>the result is: </h1>
</form>
<p>BREVET DISTANCE:</p>
{% for item in items %}
  <p> {{ item.distance }} <p>
{% endfor %}
<p>------------------------------------------------------------------------------</p>
<table style="width:50%">

{% for item in items %}
  <tr>
    <th></th>
    <td>{{ item.mile }}MILE</td>
    <th></th> 
    <td>{{ item.km }}KM</td>
    <th></th>
    <td>{{ item.open }}DATE</td>
    <th></th>
    <td>{{ item.close }}DATE</td>
  </tr>
{% endfor %}
</table>